.dm-sans {
  font-family: "dm-sans", sans-serif;
}

* Thin */
.dm-sans-thin {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Extra light */
.dm-sans-extra-light {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Light */
.dm-sans-light {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Regular */
.dm-sans-regular {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Medium */
.dm-sans-medium {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Semi-bold */
.dm-sans-semi-bold {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Bold */
.dm-sans-bold {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Extra bold */
.dm-sans-extra-bold {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* Black */
.dm-sans-black {
    font-family: "dm-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


/* Plus jakarta font */

* Thin */
.plus-jakarta-sans-thin {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Extra light */
.plus-jakarta-sans-extra-light {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Light */
.plus-jakarta-sans-light {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Regular */
.plus-jakarta-sans-regular {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Medium */
.plus-jakarta-sans-medium {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Semi-bold */
.plus-jakarta-sans-semi-bold {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Bold */
.plus-jakarta-sans-bold {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Extra bold */
.plus-jakarta-sans-extra-bold {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* Black */
.plus-jakarta-sans-black {
    font-family: "plus-jakarta-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}






